
1. Finding shortest paths between 2 bus stops (as input by the user), returning the list of stops en route sa well as the associated "cost".

2. Searching for a bus stop by full name or by the first few characters in the name, using a ternary search tree (TST), returning the full stop information for each stop matching the search criteria (which can be zero, one or more stops).

3. Searching for all trips with a given arrival time, returnign full details of all trips matching the criteria (zero, one or more), sorted by trip id.

4. Provide front inferface enabling selection between the above features or an option to exit the programme, and enabling required user input. It does not matter if this is command-line or graphical, as long as functionality,error checking is provided.

